@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewData["Title"] = "CheckPickups";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h1>Today's Pickups</h1>

<div class="row">
    <div id="map"></div>
    <script type="text/javascript">
        function initMap() {
            const map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: { lat: -34.397, lng: 150.644 },
            });
            const geocoder = new google.maps.Geocoder();
            document.getElementById('submit').addEventListener('click', () => {
                geocodeAddress(geocoder, map);
            });
        }
        function geocodeAddress(geocoder, resultsMap) {
            const address = document.getElementById("address").value;
            geocoder.geocode({ address: address }, (results, status) => {
                if (status === "OK") {
                    resultsMap.setCenter(results[0].geometry.location);
                    new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location,
                    });
                } else {
                    alert(
                        "Geocode was not successful for the following reason: " + status
                    );
                }
            });
        }
    </script>
    <script src=ApiKeys.GoogleMaps async></script>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                <div>
                    <input class="d-none" id="address" value=item.Address />
                    <input class="btn btn-primary" onclick="submit" value="Pin To Map" />
                </div>
                
                <a asp-action="ConfirmPickup" asp-route-id="@item.Id">Confirm Pickup</a>
            </td>
        </tr>
}
    </tbody>
</table>

